<footer class="flex gap-4 justify-center text-center items- space-x-2 border-t-1 border-gray-300 left-0 right-0 w-full text-sm py-5 text-xs">
  <a href="/">LY1</a>
  <a href="/">Tous droits réservés</a>
  <a href="/">Contact</a>
  <a href="/">Mentions légales</a>
</footer>
<script src="js/script.js"></script>
</body>

</html>