<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/output.css">
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <title>LY1 - Raccourcisseur de lien & QR Code</title>
</head>

<body class="flex flex-col mx-10 min-h-screen">
  <header>
    <nav class="flex py-10 justify-between">
      <h1>LY1</h1>

      <%# Hamburger menu icon when not open %>
      <div class="flex flex-col justify-between md:hidden" id="hamburger-menu-not-open">
        <span class="bg-black h-0.5 w-8 rounded-2xl">
        </span>
        <span class="bg-black h-0.5 w-8 rounded-2xl">
        </span>
        <span class="bg-black h-0.5 w-8 rounded-2xl">
        </span>
      </div>
      <%# Hamburger menu icon when open %>
      <div class="flex flex-col justify-center items-center hidden" id="hamburger-menu-open">
        <span class="bg-black h-0.5 w-8 rounded-2xl absolute rotate-45">
        </span>
        <span class="bg-black h-0.5 w-8 rounded-2xl rotate-[-45deg]">
        </span>
      </div>
      <%# Desktop menu %>
      <div class="hidden md:flex justify-center items-center gap-4 " id="desktop-menu">
        <a href="/login">Connexion</a>
        <a href="/signup" class="button-blue-light transition-shadow hover:shadow-lg">Créer un compte</a>
      </div>
    </nav>
    <%# Menu that shows when open %>
    <div class="hidden absolute left-0 right-0 flex flex-col w-full h-full bg-white" id="hidden-menu">
      <a href="/login" class="flex justify-center items-center border-b border-b-neutral-300 py-4 w-full text-center font-bold">Connexion</a>
      <a href="/signup" class="flex justify-center items-center border-b border-b-neutral-300 py-4 w-full text-center font-bold">Créer un compte</a>
    </div>
  </header>

  <main class="flex-1">
    <section class="flex flex-col justify-center items-center text-center font-bold py-12">
      <h2>Oui,<br>
        vous pouvez “juste” raccourcir un lien,
        ou “juste” créer un QR code
      </h2>
    </section>
    <section class="flex flex-col justify-center items-center text-center">
      <div class="flex w-full justify-center space-x-2 items-center">
        <a href="/" id="shortenUrl" class="py-3 px-2 button-blue">Raccourcir lien</a>
        <a href="/" id="createQrCode" class="py-3 px-2">Créer QR Code</a>
      </div>
      <div id="shortenUrlForm" class="py-4 bg-blue-600 my-12 rounded-2xl w-full md:w-[35rem]">
        <form action="/create-url" method="POST" class="flex space-x-2 px-2">
          <input type="url" name="originalUrl" placeholder="https://www.google.com" class="bg-white rounded-2xl px-2 py-2 w-full text-sm">
          <button type="submit" class="cursor-pointer bg-white rounded-2xl px-2 py-2 font-semibold w-43">Raccourcir</button>
        </form>
      </div>
      <div id="createQrCodeForm" style="display: none;" class="py-4 bg-blue-600 my-12 rounded-2xl w-full md:w-[35rem]">
        <form action="/create-qr-code" method="POST" class="flex space-x-2 px-2">
          <input type="url" name="originalUrl" placeholder="https://www.google.com" class="bg-white rounded-2xl px-2 py-2 w-full text-sm">
          <button type="submit" class="cursor-pointer bg-white rounded-2xl px-2 py-2 font-semibold w-43">Créer</button>
        </form>
      </div>
    </section>
    <section class="flex flex-col justify-center items-center text-center font-bold mb-9">
      <h2>Ou alors,<br>
        vous pouvez créer votre compte gratuitement et avoir accès à
      </h2>
    </section>
    <section class="flex flex-col justify-center items-center">
      <ul>
        <li><i class='bxr  bx-check' style='color:#155DFC'></i> 10 liens raccourci / mois</li>
        <li><i class='bxr  bx-check' style='color:#155DFC'></i> 10 QR codes / mois</li>
        <li><i class='bxr  bx-check' style='color:#155DFC'></i> Un relevé de statistiques</li>
      </ul>

    </section>
    <div class="flex justify-center items-center">
      <a href="/register" class="button-blue my-9">Je crée mon compte</a>
    </div>
  </main>

  <footer class="flex gap-4 justify-center text-center items- space-x-2 border-t-1 border-gray-300 left-0 right-0 w-full text-sm py-5 text-xs">
    <a href="/">LY1</a>
    <a href="/">Tous droits réservés</a>
    <a href="/">Contact</a>
    <a href="/">Mentions légales</a>
  </footer>
  <script src="js/script.js"></script>
</body>

</html>